html, body {
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
    background-color: lightsteelblue;
}

body {
    display:flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: lightsteelblue;
    left: 0;
    width: 100%;
    text-align: center;
}